@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..900&display=swap");

/* ScribSans font (for titles) */
@font-face {
  font-family: 'ScribSans';
  src: url('../public/fonts/ScribSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto Flex', sans-serif;
  }
}

.grow-enter {
  max-height: 0;
  overflow: hidden;
}

.grow-enter-active {
  max-height: 1500px;
  transition: max-height 1s;
}

.grow-exit {
  max-height: 1500px;
  overflow: hidden;
}

.grow-exit-active {
  max-height: 0;
  transition: max-height 1s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scroll-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 5px;
}

/* .blink_me {
  animation: blinker 2s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  border-radius: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
} */

.ring-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.ringring {
    border: 3px solid #62bd19;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    animation: pulsate 1s ease-out infinite;
    opacity: 0.0;
    z-index: 1;
}
@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1); 
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2); 
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1); 
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2); 
        opacity: 0.0;
    }
}

/* The parent-container class has been removed from MainSpace.jsx */
/* If any content elements need to be hidden initially, use a more specific selector */
