@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..900&display=swap");

/* ScribSans font (for titles) */
@font-face {
  font-family: 'ScribSans';
  src: url('../public/fonts/ScribSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto Flex', sans-serif;
  }
}

.grow-enter {
  max-height: 0;
  overflow: hidden;
}

.grow-enter-active {
  max-height: 1500px;
  transition: max-height 1s;
}

.grow-exit {
  max-height: 1500px;
  overflow: hidden;
}

.grow-exit-active {
  max-height: 0;
  transition: max-height 1s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scroll-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 5px;
}

/* The parent-container class has been removed from MainSpace.jsx */
/* If any content elements need to be hidden initially, use a more specific selector */
